<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div class="media" th:fragment="comment(comment)">
    <img class="d-flex align-self-center mr-3 pull-left" width="50px" th:src="@{'data:image/jpeg;base64,'+${comment.author.userInfo.avatar}}"/>
    <div class="media-body">
        <b class="mt-0" th:text="${comment.author.username}">Author</b>
        <p th:text="${comment.content}">Content</p>
    </div>
</div>
</body>
</html>