<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link rel="stylesheet" th:href="@{/css/find.css}"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script src="https://code.jquery.com/jquery-3.2.0.min.js"
            th:src="@{/webjars/jquery/3.2.0/jquery.min.js}"></script>

    <script th:src="@{/css/comments.css}"/>


</head>
<body>
<div th:fragment="entry_fragment(entry)">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title pull-left" th:inline="text">
                <img class="d-flex align-self-center mr-3" width="50px" th:src="@{'data:image/jpeg;base64,'+${entry.author.userInfo.avatar}}"/>
                <b th:text="${entry.author.username}"></b>
                [[${entry.timeStamp}]]
            </div>
            <div class="panel-title pull-right">

                <a th:id="'upvote_holder' + ${entry.id}" th:text="${entry.upvotes}">

                </a>

                <a th:onclick="'plus(\'' + ${entry.id} + '\');'" sec:authorize="hasAuthority('RANK')"
                   class="text-center btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </a>

                <a th:href="@{/entry/remove(entry_id=${entry.id})}" sec:authorize="hasAuthority('DELETE_ALL_POSTS')"
                   class="text-center btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body" th:text="${entry.content}">
            Panel content
        </div>
    </div>

    <div th:each="comment : ${entry.comments}" class="comments">
        <div th:replace="fragments/comment :: comment (comment=${comment})">...</div>
    </div>

    <button sec:authorize="hasAuthority('COMMENT')"
            class="btn btn-default add_comment_btn" th:id="add_comment_button + ${entry.id}" name="addCommentButton"
            th:onclick="'reply(\'' + ${entry.id} + '\');'" type="button"
    >Add comment
    </button>
    <div class="comment_box" th:id="'add_comment_holder' + ${entry.id}">

    </div>
</div>

</body>
</html>