<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Summer Platform</title>

    <!-- Bootstrap -->
    <link href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link rel="stylesheet" th:href="@{/css/find.css}"/>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div th:replace="fragments/header :: header">...</div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title pull-left">
                <b>Nick</b>
                timestamp
            </div>
            <div class="panel-title pull-right">
                <button type="button" class="text-center btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            Panel content
        </div>
    </div>

</div>
</body>
</html>