<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <meta charset="UTF-8"/>
    <title>Summer Platform</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link rel="stylesheet" th:href="@{/css/find.css}"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script src="https://code.jquery.com/jquery-3.2.0.min.js"
            th:src="@{/webjars/jquery/3.2.0/jquery.min.js}"></script>

    <link rel="stylesheet" href="../static/css/login-page.css"
          th:href="@{/css/comments.css}"/>

</head>
<body>
<div class="container">
    <div th:replace="fragments/header :: header">...</div>

    <div th:each="entry : ${entries}" class="panel panel-default">
        <div th:replace="fragments/entry :: entry_fragment (entry=${entry})">...</div>
    </div>

    <div th:if="${not #lists.isEmpty(entries)}">
        <div class="table-pagination">
            <ul class="pagination">
                <li th:class="${page.number eq 0} ? 'disabled' : ''">
                    <a th:if="${not page.isFirst()}"
                       th:href="@{''(page=${page.number-1})}">Previous</a>
                    <a th:if="${page.isFirst()}" href="javascript:void(0);">Previous</a>
                </li>

                <li th:each="pageNo : ${#numbers.sequence(0, page.totalPages - 1)}"
                    th:class="${page.number eq pageNo}? 'active' : ''">
                    <a th:if="${page.number  eq pageNo}" href="javascript:void(0);">
                        <span th:text="${pageNo + 1}"></span>
                    </a>
                    <a th:if="${not (page.number  eq pageNo)}"
                       th:href="@{''(page=${pageNo})}">
                        <span th:text="${pageNo + 1}"></span>
                    </a>

                </li>
                <li th:class="${page.number + 1 ge page.totalPages} ? 'disabled' : ''">
                    <a th:if="${not page.isLast()}"
                       th:href="@{''(page=${page.number+1})}">Next</a>
                    <a th:if="${page.isLast()}" href="javascript:void(0);">Next</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
<script>
    function reply(entryId) {
        var url = '/comment/load_panel';

        if ($('#searchSurname').val() != '') {
            url = url + '?entryId=' + entryId;
        }
        $("#add_comment_button" + entryId).remove();
        $("#add_comment_holder").load(url);
    }
</script>
</html>
