<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <meta charset="UTF-8"/>
    <title>Summer Platform</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link rel="stylesheet" th:href="@{/css/find.css}"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script src="https://code.jquery.com/jquery-3.2.0.min.js"
            th:src="@{/webjars/jquery/3.2.0/jquery.min.js}"></script>
</head>
<body>
<div class="container">
    <div th:replace="fragments/header :: header">...</div>

    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <form method="post" th:action="@{''}" th:object="${search_bean}">
                    <input type="text" class="form-control" th:field="*{queryString}"/>
                    <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Go!</button>
      </span>
                </form>
            </div>
        </div>
    </div>

    <div th:each="entry : ${entries}" class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title pull-left" th:inline="text">
                <b th:text="${entry.author.username}"></b>
                [[${entry.timeStamp}]]
            </div>
            <div class="panel-title pull-right">
                <a th:href="@{/entry/remove(entry_id=${entry.id})}" sec:authorize="hasAuthority('DELETE_ALL_POSTS')"
                   class="text-center btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body" th:text="${entry.content}">
            Panel content
        </div>
    </div>

    <div th:if="${not #lists.isEmpty(entries)}">
        <div class="table-pagination">
            <ul class="pagination">
                <li th:class="${page.number eq 0} ? 'disabled' : ''">
                    <a th:if="${not page.isFirst()}"
                       th:href="@{''(page=${page.number-1}, query=${current_query})}">Previous</a>
                    <a th:if="${page.isFirst()}" href="javascript:void(0);">Previous</a>
                </li>

                <li th:each="pageNo : ${#numbers.sequence(0, page.totalPages - 1)}"
                    th:class="${page.number eq pageNo}? 'active' : ''">
                    <a th:if="${page.number  eq pageNo}" href="javascript:void(0);">
                        <span th:text="${pageNo + 1}"></span>
                    </a>
                    <a th:if="${not (page.number  eq pageNo)}"
                       th:href="@{''(page=${pageNo}, query=${current_query})}">
                        <span th:text="${pageNo + 1}"></span>
                    </a>

                </li>
                <li th:class="${page.number + 1 ge page.totalPages} ? 'disabled' : ''">
                    <a th:if="${not page.isLast()}"
                       th:href="@{''(page=${page.number+1}, query=${current_query})}">Next</a>
                    <a th:if="${page.isLast()}" href="javascript:void(0);">Next</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>